/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import 'src/_custom';
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/@progress/kendo-theme-bootstrap/scss/all';
@import 'src/dashboard.style';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 40px;
}

.k-i-loading {
  font-size: 20vh;
  color: #111;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5em 0 0 -0.5em;
}

.k-link {
  opacity: 0;
}

.k-button {
  opacity: 0;
}

#profile {
  display: none;
}
